<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- BootStrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- StyleSheet Link -->
    <link rel="stylesheet" href="./css/style.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBR3HSXPcDNDTnHhG-iV_rTq9TW6R9a_YA",
            authDomain: "firenode-5276f.firebaseapp.com",
            databaseURL: "https://firenode-5276f.firebaseio.com",
            projectId: "firenode-5276f",
            storageBucket: "firenode-5276f.appspot.com",
            messagingSenderId: "232780507133"
        };
        firebase.initializeApp(config);
    </script>
</head>
<body>
    <div class="container">
            <div class="text-center">
        
                <p>Add Restaurent <input type="text" id="restaurent_name"></p>
                <button id="add_restautent" class="btn btn-primary">Add</button>
        
            </div>
            <br><br>
        
            <div class="row">
                <% var keys = Object.keys(restaurents) %>
                <% keys.forEach(function(key){%>
                    <div class="col s12 m6">
                        <div class="card bg-success darken-1">
                            <div class="card-content white-text">
                            <span class="card-title"><%= restaurents[key].name %></span>
                            <p>Votes: <%= restaurents[key].votes %></p>
        
                            </div>
                            <div class="card-action">
                                <button onclick='upvote("<%= key %>")' class="btn btn-primary">Upvote<i class="material-icons">arrow_upward</i></button>
                                <button onclick='downvote("<%= key %>")' class="btn btn-primary">Downvote<i class="material-icons">arrow_downward</i></button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
    </div>

    <script src="./js/firebaseAuth.js"></script>
    <script src="./js/firebaseVoting.js"></script>
            
</body>
</html>

